
UnitySDK/Assets/ML-Agents/Plugins/Android.meta
UnitySDK/Assets/ML-Agents/Plugins/Android/Java.Interop.dll
UnitySDK/Assets/ML-Agents/Plugins/Android/Java.Interop.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/Android/libs.meta
UnitySDK/Assets/ML-Agents/Plugins/Android/libs/armeabi-v7a.meta
UnitySDK/Assets/ML-Agents/Plugins/Android/libs/armeabi-v7a/libtensorflow.so
UnitySDK/Assets/ML-Agents/Plugins/Android/libs/armeabi-v7a/libtensorflow.so.meta
UnitySDK/Assets/ML-Agents/Plugins/Android/libs/x86.meta
UnitySDK/Assets/ML-Agents/Plugins/Android/libs/x86/libtensorflow.so
UnitySDK/Assets/ML-Agents/Plugins/Android/libs/x86/libtensorflow.so.meta
UnitySDK/Assets/ML-Agents/Plugins/Android/Mono.Android.dll
UnitySDK/Assets/ML-Agents/Plugins/Android/Mono.Android.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Collections.Concurrent.dll
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Collections.Concurrent.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Collections.dll
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Collections.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Diagnostics.Debug.dll
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Diagnostics.Debug.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Linq.dll
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Linq.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Reflection.dll
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Reflection.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Reflection.Extensions.dll
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Reflection.Extensions.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Resources.ResourceManager.dll
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Resources.ResourceManager.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Runtime.dll
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Runtime.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Runtime.Extensions.dll
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Runtime.Extensions.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Runtime.InteropServices.dll
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Runtime.InteropServices.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Runtime.Numerics.dll
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Runtime.Numerics.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Text.Encoding.dll
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Text.Encoding.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Threading.dll
UnitySDK/Assets/ML-Agents/Plugins/Android/System.Threading.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/Android/TensorFlowSharp.Android.dll
UnitySDK/Assets/ML-Agents/Plugins/Android/TensorFlowSharp.Android.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/Android/TensorFlowSharp.dll
UnitySDK/Assets/ML-Agents/Plugins/Android/TensorFlowSharp.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/Computer.meta
UnitySDK/Assets/ML-Agents/Plugins/Computer/liblibtensorflow.so
UnitySDK/Assets/ML-Agents/Plugins/Computer/liblibtensorflow.so.meta
UnitySDK/Assets/ML-Agents/Plugins/Computer/libtensorflow.bundle
UnitySDK/Assets/ML-Agents/Plugins/Computer/libtensorflow.bundle.meta
UnitySDK/Assets/ML-Agents/Plugins/Computer/libtensorflow.dll
UnitySDK/Assets/ML-Agents/Plugins/Computer/libtensorflow.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/Computer/libtensorflow_framework.bundle
UnitySDK/Assets/ML-Agents/Plugins/Computer/libtensorflow_framework.bundle.meta
UnitySDK/Assets/ML-Agents/Plugins/Computer/libtensorflow_framework.so
UnitySDK/Assets/ML-Agents/Plugins/Computer/libtensorflow_framework.so.meta
UnitySDK/Assets/ML-Agents/Plugins/Computer/TensorFlowSharp.dll
UnitySDK/Assets/ML-Agents/Plugins/Computer/TensorFlowSharp.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/iOS.meta
UnitySDK/Assets/ML-Agents/Plugins/iOS/libprotobuf-lite.a
UnitySDK/Assets/ML-Agents/Plugins/iOS/libprotobuf-lite.a.meta
UnitySDK/Assets/ML-Agents/Plugins/iOS/libprotobuf.a
UnitySDK/Assets/ML-Agents/Plugins/iOS/libprotobuf.a.meta
UnitySDK/Assets/ML-Agents/Plugins/iOS/libtensorflow-core.a
UnitySDK/Assets/ML-Agents/Plugins/iOS/libtensorflow-core.a.meta
UnitySDK/Assets/ML-Agents/Plugins/iOS/nsync.a
UnitySDK/Assets/ML-Agents/Plugins/iOS/nsync.a.meta
UnitySDK/Assets/ML-Agents/Plugins/iOS/TensorFlowSharp.dll
UnitySDK/Assets/ML-Agents/Plugins/iOS/TensorFlowSharp.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer.meta
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer/Google.Protobuf.dll
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer/Google.Protobuf.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer/Grpc.Core.dll
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer/Grpc.Core.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer/runtimes.meta
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer/runtimes/linux.meta
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer/runtimes/linux/native.meta
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer/runtimes/linux/native/libgrpc_csharp_ext.x64.so
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer/runtimes/linux/native/libgrpc_csharp_ext.x64.so.meta
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer/runtimes/linux/native/libgrpc_csharp_ext.x86.so
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer/runtimes/linux/native/libgrpc_csharp_ext.x86.so.meta
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer/runtimes/osx.meta
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer/runtimes/osx/native.meta
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer/runtimes/osx/native/libgrpc_csharp_ext.x64.bundle
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer/runtimes/osx/native/libgrpc_csharp_ext.x64.bundle.meta
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer/runtimes/win.meta
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer/runtimes/win/native.meta
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer/runtimes/win/native/grpc_csharp_ext.x64.dll
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer/runtimes/win/native/grpc_csharp_ext.x64.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer/runtimes/win/native/grpc_csharp_ext.x86.dll
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer/runtimes/win/native/grpc_csharp_ext.x86.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer/System.Interactive.Async.dll
UnitySDK/Assets/ML-Agents/Plugins/ProtoBuffer/System.Interactive.Async.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/System.Numerics.dll
UnitySDK/Assets/ML-Agents/Plugins/System.Numerics.dll.meta
UnitySDK/Assets/ML-Agents/Plugins/System.ValueTuple.dll
UnitySDK/Assets/ML-Agents/Plugins/System.ValueTuple.dll.meta
